export URL=jdbc:postgresql://localhost:5432/task_management
export USERNAME=myuser
export PASSWORD=mypassword
export LIQUIBASE_DRIVER="org.postgresql.Driver"
export CHANGELOG_FILE=/Users/lamgpham/workspace/todolist/src/main/resources/db/changelog/db.changelog-master.yaml
#export LIQUIBASE_PROPERTIES_FILE="/Users/lamgpham/workspace/todolist/my-liquibase.properties"